* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


header {
    height: auto;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    flex-wrap: wrap;
}

.container-age {
    height: 250px;
    width: auto;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    flex-wrap: wrap;
    gap: 8px;
}

.input-age {
    height: 40px;
    width: auto;
    font-size: 20px;
}

.button-age {
    background-color: antiquewhite;
    border-radius: 5px;
    height: 40px;
    width: auto;
    font-size: 20px;
}

.container-week {
    background-color: rgb(166, 238, 214);
    height: 200px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    flex-wrap: wrap;
    gap: 8px;
}

.input-week {
    height: 40px;
    width: auto;
    font-size: 20px;
}

.button-week {
    background-color: rgb(245, 211, 166);
    border-radius: 5px;
    height: 40px;
    width: auto;
    font-size: 20px;
}

.container-func {
    padding: 20px;
    background-color: rgb(196, 239, 239);
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 30px;
    flex-wrap: wrap;
    gap: 8px;
}

.p-func {
    display: flex;
    justify-content: right;
    padding-left: 20px;
    color: rgb(1, 55, 101);
    
}

.input--select {
    height: 40px;
    width: auto;
    font-size: 20px;
    font-weight: 200;
}


/* .photos-dinoContainer img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 5px; /* espacio entre imágenes */
    /* flex-wrap: wrap; /* por si se reduce el ancho */
    /* padding: 5px;
}

.photos-dinoContainer img {
  width: 300px;
  height: auto;
  object-fit: cover;
} */ */ */

/* GRID DINOS 3 FOTOS CENTRADAS: */
.js_photoContainer {
   background-color: #C4EFEF;
}

.photos-dinoContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #C4EFEF;
}

.photos-dinoContainer img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* .container-alert {
   background-color: rgb(240, 200, 200);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p-alert {
     font-size: 1.5rem;
    color: rgb(3, 36, 36);
    text-align: center;
    margin-bottom: 15px;
}

.button-alert {
   background-color: aquamarine;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-alert:hover {
    background-color: mediumaquamarine;
} */

.modal {
    display: none;  /*Para ocultar inicialmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Fondo oscuro translúcido */
     /* display: flex;  */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Siempre arriba */
   
}

.modal.show {
    display: flex;
}

.modal-content {
  background-color: #fff; 
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 300px;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  color: rgb(3, 36, 36);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

